<launch>
  <arg name="vica_robot" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find vica_robot)/rviz/urdf.rviz" />
  
  <rosparam file="$(find vica_robot)/config/gazebo_ros_control_params.yam" command="load"/>  
  
  <!-- upload urdf -->
  

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find vica_robot)/urdf/model.xacro'"/>
  
  <param name="use_gui" value="$(arg gui)"/>
  
  
  	<node name="robot_spawn" pkg="gazebo_ros" type="spawn_model"
		output="screen" args="-urdf -param robot_description -model robot -z 0.175" />


		 
	<node pkg="tf" type="static_transform_publisher" name="kinect"
		args="0.055 -0.02 0.137 1.58 3.14 1.58 /base_link /kinect_real_pos 10" />

	<node pkg="tf" type="static_transform_publisher" name="rplidar"
		args="0 0 0.4 0 0 0 /base_link /rplidar_real_pos 10" />
  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  	<param name="use_gui" value="False"/>
  </node>
  



  <rosparam file="$(find vica_robot)/config/diff_driver.yam" command="load" />
  
  <node name="vica_robot_controller_node"  pkg="controller_manager" 
  		type="spawner" respawn="false" output="screen" 
  		args="vica_robot_controller"
  />
  


  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

 

</launch>



<!--  
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find robot_model)/urdf/model.xacro'" />

	<node name="robot_spawn" pkg="gazebo_ros" type="spawn_model"
		output="screen" args="-urdf -param robot_description -model robot" />


		 
	<node pkg="tf" type="static_transform_publisher" name="kinect"
		args="0.055 -0.02 0.137 1.58 3.14 1.58 /base_link /kinect_real_pos 10" />

	<node pkg="tf" type="static_transform_publisher" name="rplidar"
		args="0 0 0.4 0 0 0 /base_link /rplidar_real_pos 10" />
 -->